*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8c021a;
}

header{
    width: 100%;
    height: auto;
    min-height: 60px;
    background: #a10227;
    padding: 10px;
}

h1{
    color: #630000;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}

main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
    padding: 12px;
}

.maça{

}


.article{
    padding: 12px;
    box-shadow: 3px 3px 3px 4px rgba(11, 11, 11, 0.501);
    border-radius: 8px;
}

.article img{
    width: 100%;
}

.article a,
.article a:visited{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

